<!DOCTYPE html>
<html>
	<head>
		<title>My New Webpage</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/pagestyles/hub.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body>

		<div id="app">			
			<div v-if="userLoggedIn">
				<nav>
					<ul>
						<li>HOME</li>
						<li>STORE</li>
						<li>NOTE</li>
						<li>PROF</li>
					</ul>
				</nav>
			</div>
			<router-view :key="$router.path" /> <!-- Listens to the path in the url - presents what is in that cmponent path-->
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/jquery.js"></script>
	</body>
</html>

<!-- 	
	<login v-if="!loggedIn"></login>
	<signup v-else></signup>
	<div class="signup"></div>
	<member_hub></member_hub>
-->