.ywcontainer{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: auto;
	box-shadow: 0px 5px 25px #BEBEBE;
}

.todaysworkout{
    background-color: #13293D;
    /* height: 270px; */
    border-radius: 0 0 30px 30px;
    padding: 55px;
}

.workout{
    background-color: #13293D;
    color: #fff;
}

table{
    background-color: rgb(32, 147, 255);
    color: #000;
}